.container {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 40em;
}

.img_block {
	display: flex;
	flex-direction: row;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-right: -1em;
	margin-left: -1em;
	background-color: #bef6ea;
}

img {
	width: 75%;
}

h1, h2, h3 {
	text-align: center;
}

section {
	margin: 0 auto;
	max-width: 40em;
}

body {
	font-family: sans-serif;
    padding-top: 60px;
}
