.container {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.img_block {
	display: flex;
	flex-direction: row;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #bef6ea;
}

img {
	width: 75%;
}

h1, h2, h3 {
	text-align: center;
}

h3 {
	margin-bottom: -0.5em;
	margin-top: 0.5em;
}

body {
	margin: 0 auto;
    color: #0F0F0F;
	font-family: sans-serif;
	max-width: 50em;
}
