.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	max-width: none;
	width: auto;
}

#canvas {
	z-level: 1;
}

#text {
	pointer-events: none;
	z-level: 2;
}


tr.selected {
	background-color: #bef6ea;
}

#f_err {
	padding-left: 0.5em;
	text-align: center;
	width: 4em;
}

#f_err.selected {
	background-color: #FF0000;
	color: #FFFFFF;
}

#f_stack_enabled {
	padding-left: 0.5em;
	width: 4em;
	text-align: center;
}

#f_sp {
	width: 2.25em;
	text-align: center;
}

#f_stack_enabled.selected {
	background-color: #00FF00;
}

#debug {
	background-color: #bef6ea;
	padding: 1em;
	width: 512px;
	text-align: left;
	margin-left: 2em;
}

.reg {
    color: #FFFFFF;
	background-color: #28bb9c;
	font-size: 16pt;
	padding: 0.5em;
}

.regs {
    color: #0F0F0F;
	background-color: #bef6ea;
	width: 64px;
	text-align: center;
	font-size: 16pt;
	padding: 0.5em;
}

.button_box {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #bef6ea;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
}

.flag_box {
	margin-bottom: 0.5em;
	width: 512px;
	margin-left: 2em;
}

th, td {
	padding-right: 0.5em;
}

table {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

body {
    color: #0F0F0F;
	font-family: sans-serif;
}
