:not(pre) > code {
	background-color: #EEEEEE;
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.0625em;
	padding-bottom: 0.0625em;
	display: inline-block;
}

.info-tag {
	background-color: #bef6ea;
	color: #28bb9c;
	padding: 0.125em;
}

.img_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img_link {
	border: 2px solid #FFF;
}

.img_link:hover {
	border: 2px solid #d0d0d0;
}

.code_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.multi_code_container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.c_and_img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.ops {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;
}

h1, h2, h3 {
	text-align: center;
}

th {
	padding-right: 0.5em;
}

table {
	border: 1px solid #CCC;
	background-color: #eee;
}

img {
	width: 80%;
}

section {
	max-width: 65em;
	margin: 0 auto;
}

body {
	color: #0F0F0F;
	font-family: sans-serif;
}
