code {
	background-color: #606060;
	padding: 1em;
	display: inline-block;
	border: 1px solid #999;
}

h1, h2, h3 {
	text-align: center;
}

body {
	background-color: #0F0F0F;
	color: #F0F0F0;
	font-family: sans-serif;
	width: 700px;
	margin: 0 auto;
}
