code {
	background-color: #606060;
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.0625em;
	padding-bottom: 0.0625em;
	display: inline-block;
	border: 1px solid #999;
}

pre > code {
	background-color: #606060;
	padding: 0.5em;
	display: inline-block;
	border: 1px solid #999;
}

.img_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.code_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.multi_code_container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

h1, h2, h3 {
	text-align: center;
}

th {
	text-align: left;
}

table {
	font-size: 11pt;
}

img {
	width: 100%;
}

body {
	background-color: #0F0F0F;
	color: #F0F0F0;
	font-family: sans-serif;
	margin: 0 auto;
	max-width: 50em;
}
